/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: poppins-bold;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}
/* DO NOT REMOVE THE CODE ABOVE */

/* ---------- GENERAL CODE -----------*/
body {
  user-select: none;
}

.startup-body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.exit {
  cursor: pointer;
  margin: 4vh 2vw 1vh auto;
}

.startUp-container {
  height: 58vh;
  width: 32vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.startUp-content-wallaper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 3vw;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin: 0 auto 0 0;
}

.back-skip-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

.purple-btn {
  background: #9897fb;
  border: none;
  cursor: pointer;
  width: 23vw;
  padding: 0.6vh 0;
  border-radius: 10px;
  margin-bottom: 3vh;
}

.purple-btn:hover {
  background: #7170d8;
}

.blue-btn {
  width: 20vw;
  padding: 0.6vh 0;
  border-radius: 10px;
  background: #1376e3;
  border: none;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #1058e8;
}

.set-img {
  width: 14vw;
  margin-bottom: 3vh;
}

/* ---------- ONE TIME PASSCODE ------------*/

.one-time-container {
  height: 72vh;
  width: 41vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.input-container {
  display: flex;
  gap: 14px;
  margin: 4vh 0;
}

.input-container input {
  text-align: center;
  width: 3.5vw;
  height: 8vh;
  border-radius: 5px;
  border: 1px solid #9c9b9b;
  outline: none;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 500;
}

.one-time-container .back {
  margin-top: 20vh;
}

/* ---------- ALL SET ------------*/
.all-set-img {
  width: 8vw;
  margin-bottom: 3vh;
  border-radius: 5px;
}

/* ---------- PERSONALIZE YOUR PROFILE ------------*/

.profie-modal {
  height: 63vh;
}

.add-pp-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #1058e8;
  font-family: Poppins-regular;
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 2vh;
}

#username {
  width: 20vw;
  height: 4vh;
  border-radius: 10px;
  outline: none;
  padding: 0 1vw;
  margin: 0.5vh 0 2vh 0;
  font-family: Poppins-medium;
  font-size: 0.8rem;
  background: none;
}

#profilePic {
  display: none;
}

.personal-input {
  text-align: start;
}

.icon-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.icon-sec svg {
  width: 11vw;
  height: 11vh;
}

/* ------------ ALL TEXTS ------------- */
.create-acc-title-txt {
  font-family: Poppins-regular;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 3vh;
}

.one-time-subtitle-txt {
  font-family: Poppins-regular;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.purple-btn-txt {
  color: #303030;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 600;
}

.one-time-subtitle-txt span {
  color: #585858;
  font-weight: 500;
}

.one-time-subtitle-txt strong {
  color: #0272bc;
}

.startUp-title-txt {
  text-align: center;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.5vh;
}

.back-txt {
  color: #a9a9a9;
  font-family: poppins-medium;
  font-size: 0.7rem;
  font-weight: 600;
}

.back:hover .back-txt {
  color: #585858;
}

.back svg {
  fill: #a9a9a9;
}

.back:hover svg {
  fill: #585858;
}

.username-txt {
  color: #a9a9a9;
  font-family: Poppins-medium;
  font-size: 0.7rem;
  font-weight: 500;
}

.skip-txt {
  color: #1058e8;
  font-family: poppins-medium;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.skip-txt:hover {
  color: #1376e3;
}

.startUp-subtitle-txt {
  text-align: center;
  font-family: Poppins-regular;
  font-size: 0.68rem;
  font-weight: 500;
  margin: 2vh 0 3vh 0;
}

.blue-btn-txt {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 600;
}

/* ------------ LIGHT AND DARK MODE ----------- */
@media (prefers-color-scheme: light) {
  .one-time-container,
  .startUp-container {
    background: #fff;
  }

  .create-acc-title-txt,
  .startUp-title-txt {
    color: #000;
  }

  .one-time-subtitle-txt {
    color: rgba(0, 0, 0, 0.52);
  }

  .startUp-subtitle-txt {
    color: rgba(34, 32, 32, 0.9);
  }

  .personal-page-container {
    background-color: #ffffff;
  }

  #username {
    border: 1px solid #585858;
  }
}

@media (prefers-color-scheme: dark) {
  .one-time-container,
  .startUp-container {
    background: rgba(31, 32, 31, 0.9);
  }

  .create-acc-title-txt,
  .startUp-title-txt {
    color: #fff;
  }

  .one-time-subtitle-txt,
  .startUp-subtitle-txt {
    color: #a9a9a9;
  }

  .personal-page-container {
    background-color: #1f201fe5;
  }

  #username {
    border: 1px solid #a9a9a9;
  }
}
